body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  background-color: #f8f8f8;
  transition: background-color 0.5s;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

#note-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  width: 100%;
  margin-bottom: auto;
}

.note {
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: transform 0.2s;
}

.note:hover {
  transform: scale(1.05);
}

.note.selected {
  border: 2px solid #333;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  resize: vertical;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
}

label {
  margin: 5px 0;
}

select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}

input[type="text"] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.dark-mode, .dark-mode body {
  background-color: #333;
  color: #fff;
  transition: background-color 0.5s, color 0.5s;
}
